.article_container {
    border-radius: 10px;
    padding: 2% 3%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    border: 1px solid #fff;
    color: #fff;
}

.hr_line{
    width: 100%;
    height: 1px; 
    background: #fff;
}

.container_profile {
    display: flex;
    gap: 1%;
}

.container_post {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.container_profile {
    display: flex;
    align-items: center;
}

.image_profile {
    background: #1d1b1b;
    padding: 1%;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 50px;
}

@media (max-width: 300px) {
    .image_profile {
        max-width: 35px;
        min-height: 35px;
        border-radius: 90%;
    }
}

@media (max-width: 200px) {
    .image_profile {
        max-width: 25px;
        min-height: 25px;
        border-radius: 90%;
    }
}

@media (max-width: 100px) {
    .image_profile {
        max-width: 20px;
        min-height: 20px;
        border-radius: 90%;
    }
}

.name_profile {
    margin: 0 !important;
    font-size: 25px;
    font-weight: 800;
}

@media (max-width: 1250px) {
    .name_profile {
        font-size: 20px;
    }
}

@media (max-width: 1000px) {
    .name_profile {
        font-size: 25px;
    }
}

@media (max-width: 750px) {
    .name_profile {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .name_profile {
        font-size: 4vw;
    }
}

@media (max-width: 400px) {
    .name_profile {
        font-size: 6vw;
    }
}

.username_profile {
    margin: 0 !important;
    font-size: 20px;
}

@media (max-width: 1250px) {
    .username_profile {
        font-size: 15px;
    }
}

@media (max-width: 1000px) {
    .username_profile {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .username_profile {
        font-size: 3vw;
    }
}

@media (max-width: 400px) {
    .username_profile {
        font-size: 5vw;
    }
}

.title_post {
    font-size: 20px;
    font-weight: 800;
    margin: 0 !important;
}

@media (max-width: 1250px) {
    .title_post {
        font-size: 18px;
    }
}

@media (max-width: 1000px) {
    .title_post {
        font-size: 23px;
    }
}

@media (max-width: 750px) {
    .title_post {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .title_post {
        font-size: 3vw;
    }
}

@media (max-width: 400px) {
    .title_post {
        font-size: 5vw;
    }
}

.description_post {
    margin: 0 !important;
    font-size: 18px;
}

@media (max-width: 1250px) {
    .description_post {
        font-size: 13px;
    }
}

@media (max-width: 1000px) {
    .description_post {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .description_post {
        font-size: 2vw;
    }
}

@media (max-width: 400px) {
    .description_post {
        font-size: 4vw;
    }
}

.container_comments {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
}

.container_body {
    padding: 0 1%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

@media (max-width: 400px) {
    .container_body {
        gap: 0;
    }
}