.navbar {
    border: 1px solid white;
    border-radius: 5px;
    padding: 2%;
}

@media (max-width: 400px) {
    .navbar {
        padding: 5%;
    }
}

.link {
    transition: border-bottom 0.5s ease;
    font-size: 25px !important;
    border: 2px solid transparent;
    text-decoration-line: none;
    color: #fff;
}

.link:hover {
    color: #cfcdcd9d;
}

@media (max-width: 400px) {
    .link {
        font-size: 5vw !important;
    }
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    align-items: end;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
}

.bar {
    width: 25px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
}

@media (max-width: 200px) {
    .bar {
        width: 20vw;
        height: 0.4vh;
        margin: 0.5vh 0;
    }
}

.menu {
    display: flex;
    justify-content: center;
    gap: 2%;
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }
}

.open {
    display: flex;
    flex-direction: column;
}
