.title_header {
    font-size: 50px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    margin: 10vh 0;
}

@media (max-width: 1250px) {
    .title_header {
        font-size: 40px;
    }
}

@media (max-width: 1000px) {
    .title_header {
        font-size: 30px;
    }
}

@media (max-width: 750px) {
    .title_header {
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    .title_header {
        font-size: 7vw;
    }
}

@media (max-width: 400px) {
    .title_header {
        font-size: 8vw;
    }
}
